body {
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
}

body::-webkit-scrollbar {
    display: block; 
    width: 8px;
    background-color: #ffffff00;
}

body::-webkit-scrollbar-thumb {
    display: block; 
    background-color: #5297ff;
    border-radius: 4px; /* Rounded corners */
}

.scroll-container {
    width: 100%; /* Set the width of the container */
    max-height: 120px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

.scroll-container::-webkit-scrollbar {
    display: block; /* For Chrome, Safari, and Opera */
    width: 8px;
    background-color: #ffffff00;
}

.scroll-container::-webkit-scrollbar-thumb {
    display: block; /* For Chrome, Safari, and Opera */
    background-color: #5297ff;
    border-radius: 4px; /* Rounded corners */
}

.scroll-container-0 {
    width: 100%; /* Set the width of the container */
    max-height: 80px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll-container-0::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scroll-container-0::-webkit-scrollbar-thumb {
    background: transparent;
}

.scroll-container-2 {
    width: 100%; /* Set the width of the container */
    max-height: 240px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
    scrollbar-width: thick;
    scrollbar-color: #555 transparent;
}

.scroll-container-2::-webkit-scrollbar {
    display: block; /* For Chrome, Safari, and Opera */
    width: 8px;
    background-color: #ffffff00;
}

.scroll-container-2::-webkit-scrollbar-thumb {
    display: block; /* For Chrome, Safari, and Opera */
    background-color: #5297ff;
    border-radius: 3px; /* Rounded corners */
}

.scroll-container-3 {
    width: 100%; /* Set the width of the container */
    max-height: 380px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
}

.scroll-container-3::-webkit-scrollbar {
    display: block; /* For Chrome, Safari, and Opera */
    width: 3px;
    background-color: #ffffff00;
}

.scroll-container-3::-webkit-scrollbar-thumb {
    display: block; /* For Chrome, Safari, and Opera */
    background-color: #5297ff;
    border-radius: 3px; /* Rounded corners */
}

.scroll-container-4 {
    width: 100%; /* Set the width of the container */
    max-height: 600px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
}

.scroll-container-4::-webkit-scrollbar {
    display: block; /* For Chrome, Safari, and Opera */
    width: 3px;
    background-color: #ffffff00;
}

.scroll-container-4::-webkit-scrollbar-thumb {
    display: block; /* For Chrome, Safari, and Opera */
    background-color: #5297ff;
    border-radius: 3px; /* Rounded corners */
}

.scroll-container-5 {
    width: 100%; /* Set the width of the container */
    max-height: 760px; /* Set the height of the container */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
}

.scroll-container-5::-webkit-scrollbar {
    display: block; /* For Chrome, Safari, and Opera */
    width: 3px;
    background-color: #ffffff00;
}

.scroll-container-5::-webkit-scrollbar-thumb {
    display: block; /* For Chrome, Safari, and Opera */
    background-color: #5297ff;
    border-radius: 3px; /* Rounded corners */
}

/* Custom CSS for the FAB */
.fab {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.fab:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
        0,
        0,
        0,
        0.5
    ); /* Dark background with transparency */
    z-index: 1000; /* Ensure it sits above other content */
}

.loading {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-slide-ltr-enter-active,
.fade-slide-ltr-leave-active {
    transition: all 0.1s ease;
}
.fade-slide-ltr-enter-from {
    opacity: 0;
    transform: translateX(-10%);
}
.fade-slide-ltr-leave-to {
    opacity: 0;
    transform: translateX(-10%);
}

.fade-slide-rtl-enter-active,
.fade-slide-rtl-leave-active {
    transition: all 0.2s ease;
}
.fade-slide-rtl-enter-from {
    opacity: 0;
    transform: translateX(50%);
}
.fade-slide-rtl-leave-to {
    opacity: 0;
    transform: translateX(50%);
}

.fade-box {
    transition: opacity 0.2s ease, visibilit 0.2s ease;
    opacity: 0;
}
.fade-in {
    transition-delay: 0.2s;
    opacity: 1;
    visibility: visible;
}
.fade-out {
    opacity: 0;
    visibility: hidden;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.linear-gradient-primary {
    background: linear-gradient(to right, #cee3ff 0%, #f7fbff 80%);
}
.linear-gradient-warning {
    background: linear-gradient(to right, #fffdce 0%, #fffff7 80%);
}

.card {
    border-width: 0px;
}

.card-border-hover-primary:hover {
    border-width: 1px;
    border-color: #0d6efd;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.card-border-hover-warning:hover {
    border-width: 1px;
    border-color: #f0ad4e;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.border-hover-start:hover {
    border-left-style: solid;
}

.card-bg-hover:hover {
    background-color: #f8f9fa;
    /* background-color: #f9fafb; */
}

.card-bg-hover-warning:hover {
    background-color: #fffff4;
    /* background-color: #f9fafb; */
}

.scroll-y-hidden {
    overflow-y: scroll;
}
.scroll-y-hidden::-webkit-scrollbar {
    display: none;
}
.scroll-x-hidden {
    overflow-x: scroll;
}
.scroll-x-hidden::-webkit-scrollbar {
    display: none;
}

.offcanvas-height-sm-0 {
    height: 30vh;
    min-height: 30vh;
}

.offcanvas-height-sm-1 {
    height: 40vh;
    min-height: 40vh;
}

.offcanvas-height-sm-2 {
    height: 50vh;
    min-height: 50vh;
}

.disabled-link {
    pointer-events: none; /* Disable clicking */
    cursor: default; /* Change cursor to text cursor */
    color: gray; /* Change color to look like text */
    text-decoration: none; /* Remove underline */
}

/* Small */
@media only screen and (max-width: 992px) {
    .scroll-container-horizontal {
        overflow-x: auto; /*Enables horizontal scrolling*/
        white-space: nowrap; /* Prevents line breaks */
        width: 100%; /* Makes the container full width */
    }

    .scroll-container-horizontal::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        height: 3px;
        background-color: #ffffff00;
    }
    .scroll-container-horizontal::-webkit-scrollbar-thumb {
        display: block; /* For Chrome, Safari, and Opera */
        background-color: #5297ff;
        border-radius: 10px; /* Rounded corners */
    }
}
/* Large */
@media only screen and (min-width: 992px) {
    .scroll-container-horizontal-lg {
        overflow-x: auto; /*Enables horizontal scrolling*/
        white-space: nowrap; /* Prevents line breaks */
        width: 100%; /* Makes the container full width */
    }
    .scroll-container-horizontal-lg::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        height: 3px;
        background-color: #ffffff00;
    }
    .scroll-container-horizontal-lg::-webkit-scrollbar-thumb {
        display: block; /* For Chrome, Safari, and Opera */
        background-color: #5297ff;
        border-radius: 5px; /* Rounded corners */
    }

    .scroll-container-lg {
        width: 100%; /* Set the width of the container */
        max-height: 180px; /* Set the height of the container */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Enable vertical scrolling */
    }

    .scroll-container-lg::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        width: 3px;
        background-color: #ffffff00;
    }

    .scroll-container-lg::-webkit-scrollbar-thumb {
        display: block; /* For Chrome, Safari, and Opera */
        background-color: #5297ff;
        border-radius: 3px; /* Rounded corners */
    }

    .scroll-container-lg-0 {
        width: 100%; /* Set the width of the container */
        max-height: 100px; /* Set the height of the container */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Enable vertical scrolling */
    }

    .scroll-container-lg-0::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        width: 3px;
        background-color: #ffffff00;
    }

    .scroll-container-lg-0::-webkit-scrollbar-thumb {
        display: block; /* For Chrome, Safari, and Opera */
        background-color: #5297ff;
        border-radius: 3px; /* Rounded corners */
    }

    .scroll-container-lg-2 {
        width: 100%; /* Set the width of the container */
        max-height: 340px; /* Set the height of the container */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Enable vertical scrolling */
    }

    .scroll-container-lg-2::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        width: 3px;
        background-color: #ffffff00;
    }

    .scroll-container-lg-2::-webkit-scrollbar-thumb {
        display: block; /* For Chrome, Safari, and Opera */
        background-color: #5297ff;
        border-radius: 3px; /* Rounded corners */
    }

    .scroll-container-lg-3 {
        width: 100%; /* Set the width of the container */
        max-height: 480px; /* Set the height of the container */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Enable vertical scrolling */
    }

    .scroll-container-lg-3::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        width: 3px;
        background-color: #ffffff00;
    }

    .scroll-container-lg-3::-webkit-scrollbar-thumb {
        display: block; /* For Chrome, Safari, and Opera */
        background-color: #5297ff;
        border-radius: 3px; /* Rounded corners */
    }

    .scroll-container-lg-4 {
        width: 100%; /* Set the width of the container */
        max-height: 640px; /* Set the height of the container */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Enable vertical scrolling */
    }

    .scroll-container-lg-4::-webkit-scrollbar {
        display: block; /* For Chrome, Safari, and Opera */
        width: 3px;
        background-color: #ffffff00;
    }

    .scroll-container-lg-4::-webkit-scrollbar-thumb {
        display: block; 
        background-color: #5297ff;
        border-radius: 3px; /* Rounded corners */
    }

    .pdf-container {
        width: 100%;
        height: 400px;
    }

    .offcanvas-height-lg-0 {
        height: 30vh;
        min-height: 30vh;
    }
    .offcanvas-height-lg-1 {
        height: 40vh;
        min-height: 40vh;
    }
    .offcanvas-height-lg-2 {
        height: 50vh;
        min-height: 50vh;
    }
}

.custom-tooltip .tooltip-inner {
    background-color: #5c5c5c; /* Green background */
    color: #fff; /* White text color */
    padding: 10px; /* Add some padding */
    font-size: 14px; /* Adjust font size */
    border-radius: 8px; /* Rounded corners */
}

.custom-popover {
    --bs-popover-max-width: 280px;
    --bs-popover-border-color: var(--bs-secondary-color);
    --bs-popover-header-bg: var(--bs-secondary-color);
    --bs-popover-header-color: var(--bs-white);
    --bs-popover-header-padding-y: 0.2rem;
    --bs-popover-body-padding-x: 1rem;
    --bs-popover-body-padding-y: 0.2rem;
}

#sidebar-wrapper {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
        transition: margin 0.25s ease-in-out;
    }

    #sidebar-wrapper.active {
        margin-left: 0;
    }

    #page-content-wrapper {
        margin-left: 0;
        transition: margin 0.25s ease-in-out;
    }

    #page-content-wrapper.active {
        margin-left: 250px;
    }

    .fab {
        width: 64px;
        height: 64px;
        font-size: 20px;
        bottom: 25px;
        right: 25px;
    }

    .scrolling-text-container {
        width: auto;
        height: 2rem;
        overflow: hidden;
        border: 1px solid black;
        position: relative;
    }
    .scrolling-text {
        position: absolute;
        white-space: nowrap;
        animation: scroll-text 3s linear 2s 2 alternate;
    }
}

.scrolling-text-container-lg {
    width: auto;
    height: 2rem;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
}
.scrolling-text-lg {
    position: absolute;
    white-space: nowrap;
    animation: scroll-text 3s linear 2s 2 alternate;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    90% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(-20%);
    }
}

.scroll-thumb-warning::-webkit-scrollbar-thumb {
    display: block;
    background-color: #ffc107;
    border-radius: 3px; /* Rounded corners */
}
